<div class="tab">

  <ul itemscope itemtype="http://schema.org/Blog">
      <li class="aboutme" id="aboutme__intro"itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 class="aboutme__header" itemprop="name">Hi,</h2>
          <p class="aboutme__excerpt" itemprop="description">
          I'm <span id="intro_name">Skyler Shi</span>, a Senior studying
          Computer Engineering and Statistics at University of Illinois.
          I am trying to become a Data Scientist, as I love to derive insights
          from data and to paint a picture with numbers.
          </p>
          <p class="aboutme__excerpt" itemprop="description">
            Getting to know me, you'll find I'm a passionate person, a loyal friend,
            and a helpless romantic. I hold myself to be genuine to everyone, and to
            create exciting experiences for myself. I love playing basketball and doing
            outdoors stuff.
          </p>
      </li>
      <!-- <li class="aboutme" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 class="aboutme__header" itemprop="name">Education</h2>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">University of Illinois, Urbana-Champaign</p>
            <ul>
              <li>Bachelor of Science, Computer Engineering</li>
              <li>Dean's List Recipient</li>
              <li>GPA 3.85/4.00</li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Shanghai High School International Division</p>
            <ul>
              <li>International Baccalaureate Program 42/45</li>
              <li>GPA 4.28/4.00</li>
            </ul>
          </div>
      </li> -->
      <!-- <li class="aboutme" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 class="aboutme__header" itemprop="name">Involvements</h2>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">ECE Student Advancement Committee</p>
            <ul>
              <li>Social Events Committee Member</li>
              <li>Increase ECE department participation and interaction through
                  monthly activities
              </li>
              <li>Work to plan date, location, supplies for social events, townhall, Engineering Open House etc.
              </li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Champaign Urbana Business Engineering Consulting</p>
            <ul>
              <li>Identified chokepoints in online DIY workflow</li>
              <li>Prototyped and tested robot that alleviates design pain points</li>
              <li>Confirmed market value for company and optimal pricing for robot
              </li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Illinois Business Consulting</p>
            <ul>
              <li>Worked with local client to kickstart local business</li>
              <li>Designed website for online sales</li>
              <li>Designed business model, created accounting tabs for client</li>
            </ul>
          </div>
      </li>
      <li class="aboutme" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 class="aboutme__header" itemprop="name">Experiences</h2>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">NBA Analytics Project</p>
            <ul>
              <li>Data scrape NBA website's API</li>
              <li>Analyze how compact scheduling affects top players' output and efficiency
              </li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">ECE 385 Laser-Paint Project</p>
            <ul>
              <li>FPGA programming on Altera DE-2 board</li>
              <li>Allow users to paint onto monitor through camera recognition of laser pointer
              </li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Boilermake Hackathon</p>
            <ul>
              <li>Programmed and interfaced arduino sensors for Google-calendar based alarm clock</li>
              <li>Won "Best Rookie Team Project" Award
              </li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">ECE 110 Final Project</p>
            <ul>
              <li>Built and programmed robotic car navigation with 360degree rotating ultrasonic obstacle detection</li>
              <li>Invited to honors showcase to demonstrate maze navigation</li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Valentine's Flower Delivery Website</p>
            <ul>
              <li>Designed and built frontend that allowed students to anonymously order flowers online</li>
              <li>Designed and built backend that allowed Associative Student Body to process flower orders and deliver them to correct student</li>
            </ul>
          </div>
      </li>
      <li class="aboutme" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <h2 class="aboutme__header" itemprop="name">Coursework &amp Skills</h2>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Coursework</p>
            <ul>
              <li>ECE 110 - Introduction to Electronics</li>
              <li>ECE 120 - Introduction to Computing</li>
              <li>ECE 220 - Computer Systems &amp Programming</li>
              <li>ECE 313 - Probability with Engineering Applications</li>
              <li>ECE 385 - Digital Systems Laboratory</li>
              <li>CS 225 - Data Structures</li>
              <li>ECE 408 - Parallel Programming</li>
              <li>CS 440 - Artificial Intelligence</li>
              <li>ECE 210 - Analog Signal Processing</li>
            </ul>
          </div>
          <hr>
          <div class="aboutme__div">
            <p class="subtitle">Skills</p>
            <ul>
              <li>Speech, Debate, Professional Communication</li>
              <li>Data analysis</li>
              <li>C++ functional programming</li>
              <li>Frontend web programming</li>
              <li>Backend web programming (Node.js)</li>
              <li>Hardware Description Language Programming</li>
            </ul>
          </div>
      </li> -->
  </ul>

  {% include archive-link.html %}
</div>
